.card-pricing {
  background-color: #C8CEF4;
  color: #4557C6;
}

.card-pricing > .card-pricing-body {
    font-size: 0.875rem;
}

.card-pricing.default {
  background-color: #D6E8EE;
  color: #71A5B5;
}

.card-pricing.default > .card-pricing-title > .icon {
    background-color: #71A5B5;
}

.card-pricing.neutral {
  background-color: #BCBCBC;
  color: white;
}

.card-pricing.neutral > .card-pricing-title > .icon {
    background-color: white;
}

.card-pricing.neutral > .card-pricing-title > .icon > .fas {
    color: #71A5B5;
}

.select2-container--default .select2-selection--single {
  height: calc(1.5em + .75rem + 6px);
  padding: .475rem .375rem;
  border-radius: .375rem;
  border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(1.5em + .75rem + 6px);
  position: absolute;
  top: 1px;
  right: 8px;
  width: 20px;
}

table > thead > tr > th, table > tbody > tr > td {
  padding: 0.5rem 0.775rem !important;
}